*.ts text eol=lf
product/framework/thirdparty/opencv/windows/x64/vc16/bin/*.dll filter=lfs diff=lfs merge=lfs -text
product/framework/thirdparty/opencv/windows/x64/vc16/bin/*.pdb filter=lfs diff=lfs merge=lfs -text
