{
  "version": 6,
  "configurePresets": [
    {
      "name": "macos-release",
      "inherits": "macos-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "$env{HOME}/Qt/6.8.3/macos"
      }
    },
    {
      "name": "macos-debug",
      "inherits": "macos-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "$env{HOME}/Qt/6.8.3/macos"
      }
    },
    {
      "name": "windows-msvc-release",
      "inherits": "windows-msvc-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "C:/Qt/6.8.3/msvc2022_64"
      }
    },
    {
      "name": "windows-msvc-debug",
      "inherits": "windows-msvc-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "C:/Qt/6.8.3/msvc2022_64"
      }
    },
    {
      "name": "linux-release",
      "inherits": "linux-release",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "$env{HOME}/Qt/6.8.3/gcc_64"
      }
    },
    {
      "name": "linux-debug",
      "inherits": "linux-debug",
      "cacheVariables": {
        "CMAKE_PREFIX_PATH": "$env{HOME}/Qt/6.8.3/gcc_64"
      }
    }
  ]
}
